#container{ 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer"
    /* grid-template-rows: repeat(3, 50px); */
    column-gap: 10px;
    row-gap:  15px;
    /* justify-items: center;
    align-items:  center; */
    
}

#item-1{
    grid-area: header;
}

#item-2{
    grid-area: main;
}

#item-3{
    grid-area: sidebar;
}

#item-4{
    grid-area: footer;
}



.itens{
    border: 6px solid  rgb(0, 160, 252);
    /* width: 50%;
    height: 50%; */
}
