img{
    
    float: right;
    width:  400px;
    clear: right;
    /*clear significa que ele esta ocupando minha esquerda*/
}
#paragrafo {
    /*nome left rigth*/
    width: 400px;
    clear:  left;
    }

 #paragrafo2{

    width: 400px;
    clear:  left;
}